doctype html
html
  head
    title Mini Message Board
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="https://cdn-icons-png.flaticon.com/512/3233/3233514.png", type="image/x-icon")
  body
    block content
